**/.DS_Store
build/*
build-debug/*
external/*

!external/entanglement-cpp/
!external/entanglement-cpp/**

.vscode/*
*.csv
parametric_study/*.png
parametric_study/**/*.png
parametric_study/csvs*/**
*/__pycache__/*
*/*.pyc
.venv/*

runs/*
parametric_study/analysis*/*
parametric_study/scenes/*