**/.DS_Store
build/*
build-debug/*
build-headless/*
external/*

!external/entanglement-cpp/
!external/entanglement-cpp/**

!external/glad/
!external/glad/**

.vscode/*
*.csv
parametric_study/*.png
parametric_study/**/*.png
parametric_study/csvs*/**
parametric_study/runs/*
*/__pycache__/*
*/*.pyc
.venv/*

runs/*
parametric_study/analysis*/*
parametric_study/scenes/*
parametric_study/*.out
parametric_study/*.err

**/__pycache__/*
**/*.pyc
**/*.pyo

*.png
*.html
*.npz

parametric_study/test_scenes/*
parametric_study/scenes_soft_contact/*

max_ent_data/*
rods_pbc_gen
bin/rods_pbc_bruteforce
legacy*

initial-configs/sweep_box*/*
20251209-003150_ar100_N27000_fSig1.0e-04/*

writing/*
benchmark_results*
study/network/runs/*

initial-configs/**/*

*.out
*.err

scripts/relax3rd_N1000_sweep*
parametric_study/*.svg
parametric_study/*.png


study/*.png
study/*.svg
study/**/*

build_cuda/*
build_head/*
build*/
packing_gallery/*
.polyscope.ini

web-based/*
imgui.ini
