**/.DS_Store
build/*
build-debug/*
external/*

!external/entanglement-cpp/
!external/entanglement-cpp/**

.vscode/*
*.csv
parametric_study/*.png
parametric_study/**/*.png
parametric_study/csvs*/**
parametric_study/runs/*
*/__pycache__/*
*/*.pyc
.venv/*

runs/*
parametric_study/analysis*/*
parametric_study/scenes/*
parametric_study/*.out
parametric_study/*.err

**/__pycache__/*
**/*.pyc
**/*.pyo

*.png
*.html
*.npz

parametric_study/test_scenes/*
parametric_study/scenes_soft_contact/*